<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mefitness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeFitness">
        <activity android:name=".view.DetailExercicio"
            android:theme="@style/Theme.MeFitness.NoActionBar"></activity>
        <activity
            android:name=".view.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeFitness.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeFitness.NoActionBar" />
        <activity
            android:name=".view.SignUpActivity"
            android:label="Cadastre-se"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeFitness.NoActionBar" />
        <activity
            android:name=".view.ExercicioAddActivity"
            android:label="Adicionar Exercicio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ExercicioEditActivity"
            android:label="Editar Exercicio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ExerciciosActivity"
            android:label="Exercicios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TreinoAddActivity"
            android:label="Adicionar Treino"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TreinoEditActivity"
            android:label="Editar Treino"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TreinosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeFitness.NoActionBar" />
    </application>

</manifest>